# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

                age        balance      duration
count  45211.000000   45211.000000  45211.000000
mean      40.936210    1362.272058    258.163080
std       10.618762    3044.765829    257.527812
min       18.000000   -8019.000000      0.000000
25%       33.000000      72.000000    103.000000
50%       39.000000     448.000000    180.000000
75%       48.000000    1428.000000    319.000000
max       95.000000  102127.000000   4918.000000