# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [4]:
import pandas as pd

df0 = pd.read_csv('./housing.csv')

df0.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- Quality  (the judged wine quality)

**IVs**:
- Acidity ("volatile acidity" column in the CSV file)
- Density ("density" column in the CSV file)
- Sugar  ("residual sugar" column in the CSV file)


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[ [
]]

df.describe()

           quality  volatile acidity      density  residual sugar
count  1599.000000       1599.000000  1599.000000     1599.000000
mean      5.636023          0.527821     0.996747        2.538806
std       0.807569          0.179060     0.001887        1.409928
min       3.000000          0.120000     0.990070        0.900000
25%       5.000000          0.390000     0.995600        1.900000
50%       6.000000          0.520000     0.996750        2.200000
75%       6.000000          0.640000     0.997835        2.600000
max       8.000000          1.580000     1.003690       15.500000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={'y':'result',
                         'poutcome':'previousOutcome'
                         } )

df.describe()

           quality      acidity      density        sugar
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      5.636023     0.527821     0.996747     2.538806
std       0.807569     0.179060     0.001887     1.409928
min       3.000000     0.120000     0.990070     0.900000
25%       5.000000     0.390000     0.995600     1.900000
50%       6.000000     0.520000     0.996750     2.200000
75%       6.000000     0.640000     0.997835     2.600000
max       8.000000     1.580000     1.003690    15.500000